/* .btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    color: rgb(255, 255, 255);
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-pink{
    background-color: rgb(255, 41, 191);
}
.btn:hover{
    border: 1px solid white;
    background-color: aquamarine;
}

.count{
    font-size:30px;
    margin: auto;
    margin-bottom: 20px;
    width: 100px;
    background-color: gray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
} */